# HTTP server address and display port for /healthz.
HTTP_ADDR=:9091
HTTP_PORT=9091

# Postgres connection string.
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable

# Outgoing request timeout for task executor.
HTTP_EXECUTOR_TIMEOUT=10s

# Incoming HTTP server timeouts.
HTTP_SERVER_READ_TIMEOUT=10s
HTTP_SERVER_WRITE_TIMEOUT=10s
HTTP_SERVER_IDLE_TIMEOUT=60s

# Maximum graceful shutdown duration.
HTTP_SHUTDOWN_TIMEOUT=10s
